.addStudent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

.addStudent h1 {
    font-size: 2rem;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    padding: 15px 0;
}

.addStudent form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.addStudent form input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    outline: none !important;
    border-top: 0;
    border-left: 0;
    border-left: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.99rem;
    /* font-weight: bold; */
    color: #000;
    background-color: #EEF0E5;
    border: 2px solid #EEF0E5;

}

.addStudent form button {
    width: 33%;
    padding: 10px;
    outline: none !important;
    border-radius: 5px;
    background-color: #EEF0E5;
    color: #000;
    border: 2px solid #EEF0E5;
    border-radius: 7px;
    cursor: pointer;
    font-size: 0.99rem;
    transition: 0.3s linear;
}

.addStudent form button:hover{
    opacity: 0.8;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.addStudent-container {
        width: 60%;
        height: 600px;
        background: linear-gradient(90deg, rgba(22,48,32,1) 0%, rgba(48,77,48,1) 100%); 
        padding: 0px;
        border: 1px solid #ffff;
        color: #ffff;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    